header#main-header {
    width:  100%;
    height: 60px;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    color: black;
    justify-self: flex-end;
    margin-right: 2em;
}